<div class="row">
  <div class="col">
     <h1>Memory Game</h1>
     <h3 align='center'>Welcome <span id="user"><%= @game %></span>!!</h3>
     <script>
         window.gameName = "<%= @game %>";
     </script>
     <div id="root">
          <p>Loading...</p>
     </div>
  </div>
</div>



